<app-header></app-header>
<script type="text/javascript" src="./creacion.js"></script>

<ion-content>
  <div class="container">

    <ion-item>
      <p>Crear usuarios >> Crear </p>
      <ion-select name="rol" id="rol" [interfaceOptions]="customPopoverOptions" interface="popover" class="select" placeholder="Escoja el tipo de usuario">
        <ion-select-option name="gestor" id="gestor" class="select" value="gestor">Gestor</ion-select-option>
        <ion-select-option name="socio" id="socio" class="select" value="socio">Socio</ion-select-option>
        <ion-select-option name="socioFamiliar" id="socioFamiliar" class="select" value="socioFamiliar">Socio Familiar</ion-select-option>
        <ion-select-option name="voluntario" id="voluntario" class="select" value="voluntario">Voluntario</ion-select-option>
        <ion-select-option name="actividad" id="actividad" class="select" value="actividad">Actividad</ion-select-option>
      </ion-select>
    </ion-item>

    <h2>Introduce los datos</h2><br>

    <ion-input class="inputNombre" type="text" placeholder="Nombre" id="nombre" name="nombre" required></ion-input>
    <ion-input class="inputApellido" type="text" placeholder="Apellidos" id="apellidos" name="apellidos" required></ion-input><br>

    <ion-input type="text" placeholder="Nombre de usuario" id="nombreUsuario" name="nombreUsuario" required></ion-input><br>

    <ion-input type="password" placeholder="Contraseña" name="psw" required></ion-input><br>
    
    <ion-input type="email" placeholder="Correo Electronico" name="email" required></ion-input><br>
    <ion-input type="date" placeholder="Fecha Nacimiento" name="fec_nac" required></ion-input><br>
    <ion-input type="tel" placeholder="Telefono" name="tel" required></ion-input><br>
    <ion-input type="text" placeholder="Localidad" name="localidad" required></ion-input><br>
    <ion-input type="text" placeholder="Provincia" name="provincia" required></ion-input><br>
    <ion-input type="text" placeholder="Descripcion" name="descripcion" required></ion-input><br>
    <ion-button size="large" color="dark"> Añadir </ion-button>

  </div>
  
</ion-content>





