<app-header></app-header>

<ion-content>
  <div class="container">

    <ion-item>
      <p>Crear usuarios >> Crear </p>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" class="select" placeholder="Escoja el tipo de usuario">
        <ion-select-option class="select" value="gestor">Gestor</ion-select-option>
        <ion-select-option class="select" value="socio">Socio</ion-select-option>
        <ion-select-option class="select" value="socioFamiliar">Socio Familiar</ion-select-option>
        <ion-select-option class="select" value="voluntario">Voluntario</ion-select-option>
        <ion-select-option class="select" value="actividad">Actividad</ion-select-option>
      </ion-select>
    </ion-item>

    <h2>Introduce los datos</h2><br>

    <ion-input class="inputNombre" type="text" placeholder="Nombre" name="nombreGestor" required></ion-input>
    <ion-input class="inputApellido" type="text" placeholder="Apellidos" name="apellidosGestor" required></ion-input><br>

    <ion-input type="text" placeholder="Nombre de usuario" name="nombreUsuarioGestor" required></ion-input><br>

    <ion-input type="password" placeholder="Contraseña" name="pswGestor" required></ion-input><br>

    <ion-button size="large" color="dark"> Añadir </ion-button>

  </div>
  
</ion-content>





