 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #eaeaea;
 $colorSec: #174A45;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 20px;
 $minfontsize : 18px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 100px;
 $tamHeader: 50px;

 /* Clases */
 .container{
  background-color: $bgcolor;
  padding: 5%;
  font-family: $fontFamily;
 }
 h2{
  font-family: $fontFamily;
  color: $textcolor;
  font-size: $fontsize;
}
 .navegation{
  padding: 3% 0% 0% 3%;
  font-family: $fontFamily;
  color: $textcolor;
  font-size: $fontsize;
 }
.information {
    display: flex;
    margin: 0 0 20px 0;
}
.subsection {
  display: flex;
  flex: 50%;
}
.information-block {
  flex: 50%;
}
.nombre-actividad {
  display: flex;
  margin: 0 0 15px 0;
  flex: 50%;
}
.lugar-actividad {
  display: flex;
  margin: 0 0 15px 0;
  flex: 50%;
}
.hora-actividad {
  display: flex;
  margin: 0 0 15px 0;
  flex: 40%;
}
.fecha-actividad {
  display: flex;
  margin: 0px 0 15px 15px;
  flex: 60%;
}
.max-voluntarios {
  flex: 55%;
}
.max-socios{
  margin-left: 15px;
  flex: 45%;
}
.descripcion-voluntario {
  display: flex;
  margin: 0px 0 21.5px 15px;
  flex: 50%;
}

.categoria-actividad {
  display: flex;
  margin: 0px 0 53px 15px;
  flex: 50%;
}

/* Contenedor para agrupar más de un botón */
 .button-container {
  //padding: 0% 0% 0% 35%;
  display: flex;
 }

 .button-modificar{
  padding: 2.5%;
  margin-top: 2.5%;
  margin-left: 20%;
  background-color: $colorSec;
  font-family: $fontFamily;
  color: white;
  font-size: $fontsize;
  width: 20%;
  flex:33%;
 }

 .button-eliminar{
  padding: 2.5%;
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 20%;
  background-color: $colorSec;
  font-family: $fontFamily;
  color: white;
  font-size: $fontsize;
  width: 20%;
  flex:33%;
 }

 input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid $colorSec;
    background: $bgcolorSec;
    opacity: 1;

    &:focus{
      opacity: 0.8;
    }
 }