 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #eaeaea;
 $colorSec: #063940;
 $textcolor: #063940;
 $textcolorSec: #050505;
 $fontsize: 18px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $colorValeLight : #E8F6DA;
 $colorValeMain : #2C8B80;
 $colorValeDark : #356061;
 $headerSize : 100px;
 $tamHeader: 50px;

 /* Clases */
 .container{
  width: 75%;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: $bgcolor;
  padding: 5%;
  margin-left: 25%;
  font-family: $fontFamily;
 }

 h2{
   font-family: $fontFamily;
   color: $textcolor;
   font-size: $fontsize;
 }

 .boton{
  //padding: 5%;
  margin-top: 10%;
  background-color: $colorSec;
  font-family: $fontFamily;
  color: white;
  font-size: $fontsize;

  /**&:hover{
    opacity: 0.9;
  }**/
 }

 .boton-accion{
  padding: 5%;
  margin-top: 5%;
  background-color: $colorSec;
  font-family: $fontFamily;
  color: white;
  font-size: $fontsize;

  /**&:hover{
    opacity: 0.9;
  }**/
 }

 .menu-lateral{
   width: 25%;
   height: 100%;
   padding-top: 5%;
   position: fixed;
   padding-left: 2%;
   display: inline-block;
   background-color: $bgcolorSec;
  //position: relative;
 }

 //para que este centrado verticalmente
 .elementos-menu {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 .en-linea{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 5%;
  //justify-content: center;
 }

 .en-linea-centrado{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //justify-content: center;
 }


 .flex-item{
   padding-right: 5%;
   //size: 90%;
 }

.flex-boton{
  justify-content: center;
  margin-right: 20%;
  margin-left: 7%;
}

.flex-boton button{
  padding: 20%;
}

 .lista-gestores{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 10%;
  flex-direction: column;
 }

.gestor-focus{
  background-color: $bgcolorSec;
  display: flex;
  flex-direction: row;
  border: 1px solid;
}

.gestor{
  background-color: $bgcolor;
  display: flex;
  flex-direction: row;
  border: 1px solid;
}

.separacion{
  padding-bottom: 5%;
}

.gestor-imagen{
  width: 30%;
  display: inline-block;
}

.gestor-imagen img{
  width: 50%;
  margin: 10%;
}

.gestor-info{
  width: 70%;
  display: inline-block;
  text-align: center;
}

 .nombre-user{
   width: 50%;
 }

 input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid $colorSec;
    background: $bgcolorSec;
    opacity: 1;

    &:focus{
      opacity: 0.8;
    }
 }