 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;

 main{
    background-color: $bgcolor;
    padding: 5% 2.5%;
    color: $textcolor;
    font-size: $fontsize;
    text-align: center;
  }

  h2 {
    width: 100%;
    color: $textcolor;
    font-size: 20px;
    font-weight: bold;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:0;
    font-weight: bold;
  }

  h5{
    font-size: 14px;
    margin-top:0;
    margin-bottom: 10px;
  }

  img{
    width: 25%;
    padding-right: 10px;
  }

  #participantes{
    margin: 15px;
  }

  .participante{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: row;
    justify-content: center;
    padding-bottom: 5%;
  }

footer {
  text-decoration: none;
  color: white;
  padding: 10%;
  width: 100%;
  text-align: center;
  background-color: white;
}