<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <main>
    <h2>{{actividad}}</h2>
    <h3>Participantes</h3>
    <div id=participantes>
      <hr>
      <div class="participante" ion-item *ngFor="let participante of participantes">
        <div class="info">
          <h4>{{participante.nombre}} {{participante.apellidos}}</h4>
          <h5>{{participante.rol}}</h5>
          <h5>{{participante.descripcion}}</h5>
        </div>
      </div>  
    </div>
  </main>
</ion-content>

<footer>
  <div class="ion-text-center">
      <ion-button expand="block" color="danger" [routerLink]="['/actividad', id]" size="large">Volver</ion-button>
  </div>
</footer>