<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <main>
    <h2>TÍTULO DE LA ACTIVIDAD</h2>
    <h3>Participantes</h3>
    <div id=participantes>

      <div class="participante">
        <img src="../../../assets/icon/letra.png" alt="inicial"/>
        <div class="info">
          <h4>Nombre Apellido</h4>
          <h5>Rol</h5>
          <h5>Gustos: Gusto1, Gusto2</h5>
        </div>
      </div>

      <div class="participante">
          <img src="../../../assets/icon/letra.png" alt="inicial"/>
          <div class="info">
            <h4>Nombre Apellido</h4>
            <h5>Rol</h5>
            <h5>Gustos: Gusto1, Gusto2</h5>
          </div>
        </div>
        
    </div>

    <div class="ion-text-center">
        <ion-button expand="block" color="danger" href="/actividad">Volver</ion-button>
    </div>
  </main>
</ion-content>
