/* Variables estandar para la página*/
$bgcolor: #FEFEFE;
$bgcolorSec: #eaeaea;
$colorSec: #174A45;
$textcolor: #174A45;
$textcolorSec: #050505;
$fontsize: 20px;
$minfontsize : 18px;
$minButtonSize: 48 dp;
$fontFamily: Tahoma;
$headerSize : 100px;
$tamHeader: 50px;

/* Clases */
.container{
 background-color: $bgcolor;
 margin-top: 3%;
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom: 3%;
 font-family: $fontFamily;
}

h2{
  font-family: $fontFamily;
  color: $textcolor;
  font-size: $fontsize;
  margin-left: 2%;
  margin-bottom: 15px;
}

ion-input{
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: 2px solid $colorSec;
   background: $bgcolorSec;
   opacity: 1;

   &:focus{
     opacity: 0.8;
   }
}

.inputLeft{
 width: 45%;
}

.inputLeftDate{

  margin-left: 15%;
  width: 17.5%;
  border:outset;
 }
 

.inputDate{
  margin-left: 25%;
  width: 39%;
  border:outset;

 }

.inputRight{
  float: right;
 width: 45%;
}

p{
 font-family: $fontFamily;
 color: $textcolorSec;
 font-size: $minfontsize;
}

.select{
   color: $textcolorSec;
   font-family: $fontFamily;
   margin: 3px;
   margin-left: 10px;
   border: 2px solid $colorSec;
   border-radius: 3px;
}

ion-button{
  --background: tranparent;
  --padding-start: 10px;
  --padding-end: 10px;
}

#descripcion{
    height: 130px;
}

small-input{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

input-width{
  float: left;
  width: 10%;
}

.alert {
  display:none;
  opacity: 0.8;
  border-radius: 4px;
  margin-top: 10px;
  padding: 17px;
  width: 45%;
  background-color: #FF7C93;
  color: white;
  text-align:center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}