<app-header></app-header>

<ion-content>
  <div class="container">

    <ion-item>
      <p>Crear actividad </p>
    </ion-item>

    <h2>Introduce los datos</h2><br>

    <form (ngSubmit)="crearActividad()">
      <span><ion-label>Categoria</ion-label></span><br>
      <ion-select *ngFor="let categoria of categorias; let indice=index" [(ngModel)]="actividad.categoria" name="categoria" id="rol" [interfaceOptions]="customPopoverOptions" interface="popover" class="select" placeholder="Escoja la categoria de la actividad" required>
        <ion-select-option name="cat1" id="cat1" class="cat1" value="cat1">{{categoria.nombre}}</ion-select-option>
      </ion-select>

      <span class="inputLeft"><ion-label>Nombre actividad</ion-label></span>
      <span class="inputRight"><ion-label>Lugar</ion-label></span><br>

      <ion-input [(ngModel)]="actividad.nombre" class="inputLeft" type="text" placeholder="Nombre actividad" id="nombre" name="nombre" required></ion-input>
      <ion-input [(ngModel)]="actividad.lugar" class="inputRight" type="text" placeholder="Lugar" id="lugar" name="lugar" required></ion-input><br>
      
      <span class="inputLeft"><ion-label>Hora</ion-label></span>
      <span class="inputRight"><ion-label>Fecha</ion-label></span><br>

      <ion-input [(ngModel)]="actividad.hora" class="inputLeft" type="time" placeholder="Hora" id="hora" name="hora" required></ion-input>
      <ion-input [(ngModel)]="actividad.fecha" class="inputRight" type="date" placeholder="Fecha" id="fecha" name="fecha" required></ion-input><br>

      <span class="inputLeft"><ion-label>Numero de voluntarios</ion-label></span>
      <span class="inputRight"><ion-label>Descripcion</ion-label></span><br>
      <ion-input [(ngModel)]="actividad.max_voluntarios" class="inputLeft" type="number" placeholder="Numero maximo de voluntarios" id="numVoluntarios" name="numVoluntarios" required></ion-input>
      <ion-input [(ngModel)]="actividad.descripcion" class="inputRight" type="text" placeholder="Descripcion de la actividad" id="descripcion" name="descripcion" required></ion-input><br>

      <span class="inputLeft"><ion-label>Numero de socios</ion-label></span><br>
      <ion-input [(ngModel)]="actividad.max_socios" class="inputLeft" type="number" placeholder="Numero maximo de socios" id="numSocios" name="numSocios" required></ion-input><br>
  
      <ion-button type="submit" size="large" color="dark"> Añadir </ion-button>
    </form>
  </div>
</ion-content>
