 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #063940;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $colorValeLight : #E8F6DA;
 $colorValeMain : #2C8B80;
 $colorValeDark : #356061;
 $headerSize : 20px;



 /* Clases */

header{
  padding: $headerSize;
  background-color:   $textcolor;
  color: white;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > a{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

header > a > img{
  width: 50px;
}

header > h1{
  font-size: $fontsize;
  font-family: $fontFamily;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
