<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content class="content subheader">
    <div class="ion-text-center">
        <h1>Chat con X</h1>
    </div>
    <hr>
</ion-content>

<ion-content scrollY="true" class="chatscroll">
        <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
        <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat michat">Hola<br><span class="msgdate">fecha, hora</span></div>
            <div class="msgchat otrochat">Hola<br><span class="msgdate">fecha, hora</span></div>
</ion-content>

<ion-content class="footer">
    <div><ion-textarea class="msgcampo" placeholder="Escriba aqui su mensaje" autoGrow rows="1"></ion-textarea></div>
    <ion-button expand="block" color="dark" class="button-danger">Escribir mensaje</ion-button>
</ion-content>
