<app-header></app-header>

<ion-content>

  <div class="container">

    <div class="horizontal-flex-left">

      <p>Administración de usuarios </p>

      <ion-button href="/crear-usuario" size="large" color="dark"> Crear usuario </ion-button>

    </div>

    <ion-item></ion-item>

    <h2> Búsqueda de usuario: </h2>

    <div class="horizontal-flex">

        <ion-input class="search horizontal-flex-reverse" type="text" placeholder="Buscar..." name="buscar_usuario" required><ion-button size="medium" color="dark"> Buscar </ion-button></ion-input>

        <div>
          <ion-select ng-model="rol" id="rol" [interfaceOptions]="customPopoverOptions" (ionChange)='filtroTipo()' interface="popover" class="select-group" placeholder="Escoja el tipo de usuario a buscar">
            <ion-select-option  id="gestor" class="select" value="gestor"> Buscar Gestor</ion-select-option>
            <ion-select-option  id="socio" class="select" value="socio">Buscar Socio</ion-select-option>
            <ion-select-option  id="familiar" class="select" value="socioFamiliar">Buscar Socio Familiar</ion-select-option>
            <ion-select-option  id="voluntario" class="select" value="voluntario">Buscar Voluntario</ion-select-option>
          </ion-select>
      </div>
  
    </div>

      <ion-radio-group class="horizontal-flex">

        <h5>Buscar por...</h5>
          <ion-item>
            <ion-radio value="busqueda-nombre" checked></ion-radio>  
            <ion-label> Nombre</ion-label>
          </ion-item>

          <ion-item>
              <ion-radio value="busqueda-apellido"></ion-radio>
              <ion-label> Apellido</ion-label>
          </ion-item>

          <ion-item>
              <ion-radio value="busqueda-usuario"></ion-radio>
              <ion-label > Nombre de usuario</ion-label>
          </ion-item>
      </ion-radio-group>

      <ion-item></ion-item>
      
      <br>

    <div class="horizontal-flex-left">
        <h2>Resultados: </h2><br>

        <div>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" class="select-group" placeholder="Ordenar resultados por:">
              <ion-select-option class="select" value="ordenar-nombre" selected>Ordenar por nombre</ion-select-option>
              <ion-select-option class="select" value="ordenar-apellido">Ordenar por apellido</ion-select-option>
              <ion-select-option class="select" value="ordenar-usuario">Ordenar por usuario</ion-select-option>
              <ion-select-option class="select" value="ordenar-usuario">Ordenar por valoración</ion-select-option>
          </ion-select>
      </div>

    </div>

    <div class="flex-columna">

        <div id="lista" ion-item *ngFor="let user of users; let indice=index">

            <div class = "info-usuario">
                <a class="imagen-actividades"><img src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png"
                   alt="imagen usuario"/></a>
  
                <div class="flex-columna">
                  <h5>{{user.nombre}}</h5>
                  <h5>{{user.apellidos}}</h5>
                  <h5>@{{user.username}}</h5>
                </div>
  
                <div class="flex-columna">
                    <h5> Valoración media: </h5>
                </div>
      
                <div class="flex-columna">
                    <ion-button (click)="irPerfilUsuario(eugenio)" size="large" color="dark"> Administrar </ion-button>
                </div>
            </div>
  
        </div>

    </div>

    <br>
  </div>
</ion-content>
