<app-header></app-header>

<ion-content>

    <ion-item>
        <h2>Crear categoría</h2>
      </ion-item>

  <div class="container">

    <form (ngSubmit)="crearCategoria()">
      <span><ion-label>Nombre categoria</ion-label></span><br>
      <ion-input [(ngModel)]="categoria.nombre" type="text" placeholder="Nombre categoria" id="nombre" name="nombre" required></ion-input>

      <span><ion-label>Imagen</ion-label></span><br>
      <ion-input [(ngModel)]="categoria.imagen" type="text" placeholder="URL imagen" id="imagen" name="imagen" required></ion-input>

      <ion-button (click)="crearCategoria()" size="large" color="dark"> Añadir </ion-button>
      <div id="loginPopUp" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <div id="messageBox"></div>
      </div>
      
    </form>
  </div>
</ion-content>