 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #eaeaea;
 $colorSec: #174A45;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 20px;
 $minfontsize : 18px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 100px;
 $tamHeader: 50px;

 /* Clases */
 .container{
  background-color: $bgcolor;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  width: 100%;
  //margin-left: 10%;
  display: inline-block;
  font-family: $fontFamily;
 }

 .menu-lateral{
   width: 15%;
   //display: inline-block;
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: fixed;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-color: $bgcolorSec;
 }

 .boton-menu {
   margin-bottom: 10%;
   //width: 70%;
 }

 .horizontal-flex{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-around;
 }

 .flex-columna{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
 
 .horizontal-flex-left{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //align-content: center;
  justify-content: space-between;
}

 .horizontal-flex-reverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.info-usuario{
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-around;
   width: 9
   0%;
   background-color: $bgcolorSec;
   height: 10%;
   border: 2px solid $textcolorSec;
   margin-top: 3%;
}

.info-usuario img{
  background: transparent;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: 2% 0 2% 0;
  border: 5px solid white;
}

 h2{
   font-family: $fontFamily;
   color: $textcolor;
   font-size: $fontsize;
 }

 .linea-vertical{
  border-left: 3px solid $textcolor;
  height: 150px;
 }

 ion-input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid $colorSec;
    background: $bgcolorSec;
    opacity: 1;

    &:focus{
      opacity: 0.8;
    }
 }

 .inputNombre{
  width: 43%;
  margin: 5px 2% 22px 0;
 }

 .inputApellido{
  width: 55%;
 }

 .search{
   width:70%;
   margin-right: 5%;
   margin-left: 5%;
 }


 p{
  font-family: $fontFamily;
  color: $textcolorSec;
  font-size: $minfontsize + 8px;
 }

 .select{
    color: $textcolorSec;
    font-family: $fontFamily;
 }

 .select-group{
  border: 2px solid $colorSec;
  border-radius: 3px;
 }

 ion-button{
   --background: tranparent;
   --padding-start: 10px;
   --padding-end: 10px;
 }
