<app-header></app-header>

<ion-content>
  <div class="container">

    <ion-item>
      <ion-label>Crear usuarios >> Crear </ion-label>
      <ion-select placeholder="Escoja el tipo de usuario">
        <ion-select-option value="gestor">Gestor</ion-select-option>
        <ion-select-option value="socio">Socio</ion-select-option>
        <ion-select-option value="socioFamiliar">Socio Familiar</ion-select-option>
        <ion-select-option value="voluntario">Voluntario</ion-select-option>
        <ion-select-option value="actividad">Actividad</ion-select-option>
      </ion-select>
    </ion-item>

    <h2>Introduce los datos</h2><br>

    <input class="inputNombre" type="text" placeholder="Nombre" name="nombreGestor" required>
    <input class="inputApellido" type="text" placeholder="Apellidos" name="apellidosGestor" required><br>

    <input type="text" placeholder="Nombre de usuario" name="nombreUsuarioGestor" required><br>

    <input type="password" placeholder="Contraseña" name="pswGestor" required><br>

    <button type="submit" class="boton">Añadir</button>

  </div>
</ion-content>
