<app-header></app-header>

<ion-content>
  <div class="container">

    <p>Administrar gestores >> Crear

      <select>
        <option value="gestor">Gestor</option>
        <option value="socio">Socio</option>
        <option value="socioFamiliar">Socio Familiar</option>
        <option value="voluntario">Voluntario</option>
        <option value="actividad">Actividad</option>
      </select>
    </p>

    <h2>Introduce los datosr</h2><br>

    <input class="inputNombre" type="text" placeholder="Nombre" name="nombreGestor" required>
    <input class="inputApellido" type="text" placeholder="Apellidos" name="apellidosGestor" required><br><br>

    <input type="text" placeholder="Nombre de usuario" name="nombreUsuarioGestor" required><br><br>

    <input type="password" placeholder="Contraseña" name="pswGestor" required><br><br>

    <button type="submit" class="boton">IDENTIFICARSE</button>

  </div>
</ion-content>
