<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <main>
        <h2>BÚSQUEDA</h2>

        <div id="busqueda">
            <input type="search" name="barra de busqueda" placeholder="Introduce una actividad..." id="">
            <ion-button class="button-small" fill="clear" (click)='filtros()'><img src="../assets/icon/mas.png" alt="mas"></ion-button>

        </div>


        <div id="filtros" class="filtros">

            <h3>Categoría</h3>
            <div id="filtro">
            <div class="filtro" *ngFor="let categoria of todas_categorias">
                <div class="opcion"><input type="checkbox" name={{categoria.nombre}} value={{categoria.nombre}} checked> 
                    <h4>{{categoria.nombre}}</h4> 
                    <img src={{categoria.imagen}}/>
                </div>
            </div>
            </div>

            <h3>Fecha</h3>
            <div class="filtro">
                <h4>Desde <input type="date" name="inicio" value="Inicio"></h4>
                <h4>Hasta <input type="date" name="fin" value="Fin"></h4>
            </div>


            <div class="filtro">
                <h3>Ordenar Por</h3>
                <select name="" id="">
                    <option value=""><h4>Fecha</h4></option>
                    <option value=""><h4>Precio</h4></option>
                </select>
            </div>

            <div class="filtro">
                    <h3>Tipo</h3>
                    <select name="" id="">
                        <option value=""><h4>Individual</h4></option>
                        <option value=""><h4>Grupal</h4></option>
                    </select>
            </div>

        </div>

        <div id="lista" ion-item *ngFor="let actividad of actividades; let indice=index">
            <div class="actividad">
                <h5><a [routerLink]="['/actividad', indice]">{{actividad.nombre}}</a></h5>
                <div id="contenido">
                    <a [routerLink]="['/actividad', indice]" ><img src={{actividad.imagen}} alt="imagen"/></a>
                    <div id="datos">
                        <h6>{{actividad.lugar}}</h6>
                        <h6>{{actividad.fecha}}</h6>
                        <div id="categorias" >
                            <div class="categorias" *ngFor="let categoria of categorias[indice]">  
                                <img src={{categoria.imagen}} alt="imagen"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</ion-content>
