 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;



 /* Clases */

 a {
     color: inherit;
     text-decoration: none;
 }

main{
  background-color: $bgcolor;
  padding: 4% 2.5%;
  color: $textcolor;
  font-size: $fontsize;
 // font-family: $fontFamily;
}

#busqueda{
  background-color: $textcolor;
  display: flex;
  border-style: solid;
  border-width: 2px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
}

#busqueda > ion-searchbar{
  width: 295px;
}

#busqueda > ion-button{
  width: 40px;
}

ion-button{
  --background: transparent;
  --background-hover: $textcolor;
  --padding-start:0;
  --padding-end:0;
  width: 60px;
  height: 35px;
}

ion-button{
  width: 40px;
}

.filtros{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;

}

#filtros{
  padding: 10px;
  border-radius: 3px;
  border-width: 5px;
  border-color:  $textcolor ;
  border-style: ridge;
}

#filtros > .filtro, #filtro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}


h3{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}

h4{
    font-size: 15px;
    padding: 0;
    margin: 0;
    border: 0;
    padding-left: 10px;
}

#filtros > form >.filtro > .opcion, #filtro > .filtro >.opcion{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2.5%;
}

#filtros > form > #filtro > .filtro > .opcion > ion-button{
  width: 75px;
  height: 65px;
}

#filtros > form > #filtro > .filtro > .opcion > ion-button > img{
  width: 80%;
  height: 80%;
}

#filtros > form > .filtro > .opcion > ion-input{
    font-size: 14px;
}

#filtros > form > .filtro > ion-item > h3{
  color: $textcolor;
  text-align: center;
  padding: 0;
}

#filtros > form > .filtro > ion-item > ion-select{
  margin-left: 15px;
  padding: 2px;
  font-size: 14px;
}

h2{
  color: $textcolor;
  font-size: 20px;
  padding-bottom: 4%;
  font-weight: bold;
  text-align: center;
}

#filtros > form > .boton{
  height: 50px;
}
#filtros > form > .boton > ion-button{
  float: right;
  width: 50px;
  height: 50px;
}


//Actividades
#lista {
  padding-top: 5%;
}

#lista > .actividad{
  width: 100%;
  border-radius: 20px;
  border-width: 0.1em;
  border-color:  $textcolor ;
  border-style: inset;
  padding: 0;
  margin: 0;

}

#lista >.actividad > #contenido{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: row;
  justify-content: center;
}

#lista > .actividad >#contenido > #datos{
  width: 100%;
  align-items: center;
  flex-wrap: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-left: 2%;
  
}

#lista > .actividad > #contenido > a{
  width: 50%;
  padding-left: 2.5%;
}

#lista > .actividad > h5{
  font-size: 16px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  margin: 2%;
}

#lista > .actividad > #contenido > #datos{
  width: 55%;
  padding-left: 5%;
  text-align: center;
}

#lista > .actividad > #contenido > #datos > h6{
  font-size: 16px;
  margin: 2.5%;
}

#lista > .actividad > #contenido > #datos > #categorias{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lista > .actividad > #contenido > #datos > #categorias > .categorias{
  width: 30%;
}