<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <main>
        <h2>BÚSQUEDA</h2>

        <div id="busqueda">
            <input type="search" name="barra de busqueda" placeholder="Introduce una actividad..." id="">
            <ion-button class="button-small" fill="clear" (click)='filtros()'><img src="../assets/icon/mas.png" alt="mas"></ion-button>

        </div>


        <div id="filtros" class="filtros">

            <h3>Categoría</h3>
            <div class="filtro">
                <div class="opcion"><input type="checkbox" name="cat1" value="Todas" checked> <h4>Todas</h4></div>
                <div class="opcion"><input type="checkbox" name="cat2" value="Deportes"> <h4>Deportes</h4></div>
                <div class="opcion"><input type="checkbox" name="cat3" value="Arte"> <h4>Arte</h4></div>
                <div class="opcion"><input type="checkbox" name="cat3" value="Cocina"> <h4>Cocina</h4></div>
            </div>

            <h3>Fecha</h3>
            <div class="filtro">
                <h4>Desde</h4><input type="date" name="inicio" value="Inicio">
                <h4>Hasta</h4><input type="date" name="fin" value="Fin" >
            </div>


            <div class="filtro">
                <h3>Ordenar Por</h3>
                <select name="" id="">
                    <option value=""><h4>Fecha</h4></option>
                    <option value=""><h4>Precio</h4></option>
                </select>
            </div>

            <div class="filtro">
                    <h3>Tipo</h3>
                    <select name="" id="">
                        <option value=""><h4>Individual</h4></option>
                        <option value=""><h4>Grupal</h4></option>
                    </select>
            </div>

        </div>

        <div id="lista">

            <div class="actividad">
                <a href="/actividad"><img src="../assets/img/imagen.jpg" alt="imagen"/></a>
                <div id="contenido">
                <h3><a href="/actividad">TITULO</a></h3>
                <h4>Fecha y Hora</h4>
                <h4>Lugar</h4>
                <h4>Precio</h4>
                </div>
            </div>
        </div>

    </main>
</ion-content>
