<ion-menu menuId="menu" contentId="principal">
  <header>
    <ion-button color="dark" fill="clear" (click)="toggleMenu()" slot="start"> <img src="../assets/icon/menu.png" alt="menu"/> </ion-button>
  </header>
  <ion-content color="dark">
    <ion-list lines="none" inset="false" mode="ios">
        <ion-item color="dark"><a href='/home'><ion-icon name="md-star" size="large"></ion-icon>Recomendados</a></ion-item>
        <ion-item color="dark"><a href='/search'><ion-icon name="md-search" size="large"></ion-icon>Buscar</a></ion-item>
        <ion-item color="dark"><a href='/profile'><ion-icon name="md-contact" size="large"></ion-icon>Mi Perfil</a></ion-item>
        <ion-item color="dark"><a href='/myActivities'><ion-icon name="md-calendar" size="large"></ion-icon>Mis Actividades</a></ion-item>
        <ion-item color="dark"><a href='/crear'><ion-icon name="md-add-circle" size="large"></ion-icon>Crear Actividad</a></ion-item>
    </ion-list>
  </ion-content>

<footer>
    <ion-item  color="dark"><a href='/inicio'>Cerrar Sesión</a></ion-item>
</footer>
</ion-menu>