<header id="site-header">
  <div class="boxleft">
    VALE
  </div>
  <div class="boxright">
    <!--<button class="boton-invisible"> Identificarse <img class="img-header" src="https://img.pngio.com/profile-icon-png-image-free-download-searchpngcom-profile-icon-png-673_673.png"> </button>
    -->
    <img class="img-header" src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png">
  </div>
</header>

<ion-content>
  <div id="container">
    <h2>Identifícate como gestor</h2>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
