 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #063940;
 $textcolorSec: #050505;
 $fontsize: 18px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $colorValeLight : #E8F6DA;
 $colorValeMain : #2C8B80;
 $colorValeDark : #356061;
 $headerSize : 20px;

 /* Clases */
 body {
   background-color: $bgcolor;
   color: $textcolor;
   font-size: $fontsize;
   font-family: $fontFamily;
 } 

 #container{
  background-color: $colorValeLight;
  padding: 5%;
 }

 .boxleft{
    box-sizing: 30%;
    align-content: left;
    float: left;
 }
 .boxright{
    box-sizing: 30%;
    align-content: right;
    float: right;
 }

 h2{
   font-family: $fontFamily;
   color: $textcolor;
   font-size: 16px;
 }

  #site-header{
   padding: $headerSize;
   background-color: $colorValeMain;
   font-family: $fontFamily;
   font-size: $fontsize;
   size: 100px;
   color: white;
 }