 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;


 /* Clases */

 a {
     color: inherit;
     text-decoration: none;
 }

main{
  background-color: $bgcolor;
  padding: 7.5% 2.5%;
  color: $textcolor;
  font-size: $fontsize;
  font-family: $fontFamily;
}

#busqueda{
  background-color: $textcolor;
  padding: 2.5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
}

#busqueda > input{
  width: 280px;
  font-size: 12px;
}

#busqueda > a{
  background: transparent;
  width: 40px;
  padding-left: 10px;
}

#lista{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
}


#lista > h2{
  font-family: $fontFamily;
  color: $textcolor;
  font-size: 18px;
  font-weight: bold;
}
#lista > .bloque{
  background-color: $bgcolorSec;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;

  border-width: 7.5px;
  border-color:  $textcolor ;
  border-style: inset;
}

#lista >  .bloque > .actividades{
  width: 100%;
  background-color:   $textcolor;
  color: white;
  padding-left: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lista > .bloque > .actividades > h2{
  width: 75%;
  font-size: 19px;
}

#lista >  .bloque > .actividades > ion-button > img{
  background: transparent;
  width: 35px;
}

#lista > .bloque > #proximas > .actividad, 
#lista > .bloque > #realizadas > .actividad{
  background-color: $bgcolor;
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: row;
  justify-content: center;
  padding: 3%;
  margin: 5%;

  border-radius: 2px;
  border-width: 7.5px;
  border-color:  $textcolor ;
  border-style: inset;
}

#lista > .bloque > #proximas > .actividad > a,
#lista > .bloque > #realizadas > .actividad > a{
  width: 50%;
}

#lista > .bloque > #proximas > .actividad > #contenido,
#lista > .bloque > #realizadas > .actividad > #contenido{
  width: 50%;
  padding-left: 10%;
}

#lista > .bloque > #proximas >  .actividad > #contenido > h3,
#lista > .bloque > #realizadas >  .actividad > #contenido > h3{
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
}

#lista > .bloque > #proximas > .actividad > #contenido > h4,
#lista > .bloque > #realizadas > .actividad > #contenido > h4{
  font-size: 14px;
  margin: 2.5%;
}

.proximas, .realizadas{
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;

}