<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <main>
    <div id="busqueda">
      <input type="text" name="barra de busqueda" placeholder="Introduce una actividad..." id="">
      <a href="/search"><img src="../assets/icon/lupa.png" alt="lupa"></a>
    </div>

    <div id="lista">
      <h2>MIS ACTIVIDADES</h2>

      <div class="bloque">
        <div class="actividades">
          <h2>Próximas actividades</h2>
          <ion-button color="dark" fill="clear"  (click)='desplegar("proximas")'><img src="../assets/icon/mas.png" alt="mas"></ion-button>
        </div>
        <div id = "proximas" class = "proximas">
          <div class="actividad">
            <a href="/actividad"><img src="../assets/img/imagen.jpg" alt="imagen"/></a>
            <div id="contenido">
              <h3><a href="/actividad">TITULO</a></h3>
              <h4>Fecha y Hora</h4>
              <h4>Lugar</h4>
              <h4>Precio</h4>
            </div>
          </div>

          <div class="actividad">
            <a href="/actividad"><img src="../assets/img/imagen.jpg" alt="imagen"/></a>
            <div id="contenido">
              <h3><a href="/actividad">TITULO</a></h3>
              <h4>Fecha y Hora</h4>
              <h4>Lugar</h4>
              <h4>Precio</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="bloque">
        <div class="actividades">
          <h2>Actividades realizadas</h2>
          <ion-button color="dark" fill="clear"  (click)='desplegar("realizadas")'><img src="../assets/icon/mas.png" alt="mas"></ion-button>
        </div>
        <div id = "realizadas" class = "realizadas">
          <div class="actividad">
            <a href="/actividad"><img src="../assets/img/imagen.jpg" alt="imagen"/></a>
            <div id="contenido">
              <h3><a href="/actividad">TITULO</a></h3>
              <h4>Fecha y Hora</h4>
              <h4>Lugar</h4>
              <h4>Precio</h4>
            </div>
          </div>

          <div class="actividad">
            <a href="/actividad"><img src="../assets/img/imagen.jpg" alt="imagen"/></a>
            <div id="contenido">
              <h3><a href="/actividad">TITULO</a></h3>
              <h4>Fecha y Hora</h4>
              <h4>Lugar</h4>
              <h4>Precio</h4>
            </div>
          </div>
        </div>
      </div>


    </div>

  </main>
</ion-content>
