 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #eaeaea;
 $colorSec: #063940;
 $textcolor: #063940;
 $textcolorSec: #050505;
 $fontsize: 18px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $colorValeLight : #E8F6DA;
 $colorValeMain : #2C8B80;
 $colorValeDark : #356061;
 $headerSize : 100px;
 $tamHeader: 50px;

 /* Clases */
 .boxleft{
    box-sizing: 30%;
    align-content: left;
    float: left;
 }
 .boxright{
    box-sizing: 30%;
    align-content: right;
    float: right;
 }

  header{
   padding: 1%;
   display: flex;
   flex-wrap: wrap;
   background-color: $colorSec;
   font-family: $fontFamily;
   font-size: $tamHeader;
   size: $headerSize;
   color: white;
 }
 
 .img-header{
    width: $tamHeader;
    height: $tamHeader;
    border: 0px;
 }