<header>
    VALE
    <div class="div-content">
      <ion-button href="/usuarios" class="union" color="light">Usuarios</ion-button>
      <ion-button href="/actividades"class="union" color="light">Actividades</ion-button>
      <ion-button href="/categorias" class="union" color="light">Categorias</ion-button>
      <ion-button (click)="logout()" class="union" color="danger">Cerrar sesión</ion-button>
    </div>
    <button>
      <ion-avatar>
        <img href="/perfilGestor" class="img-header" src="https://images-na.ssl-images-amazon.com/images/I/51HeF%2BFvs1L._SX466_.jpg">
      </ion-avatar>
    </button>
</header>
