<ion-content>
    <header>
        <button><img src="../assets/icon/menu.png" alt="menu"/></button>
        <h1>OcioVALE</h1>
        <button><img src="../assets/icon/campana.png" alt="notificaciones"/></button>
      </header>
      
  <main>
    <div id="busqueda">
      <input type="text" name="barra de busqueda" value="Introduce una actividad..." id="">
      <button><img src="../assets/icon/lupa.png" alt="lupa"></button>   
    </div>

    <div id="lista">
      <h2>ACTIVIDADES RECOMENDADAS</h2>

      <div class="actividad">
        <img src="../assets/img/imagen.jpg" alt="imagen"/>
        <div id="contenido">
          <h3>TITULO</h3>
          <h4>Fecha y Hora</h4>
          <h4>Lugar</h4>
          <h4>Precio</h4>
        </div>
      </div>


      <div class="actividad">
          <img src="../assets/img/imagen.jpg" alt="imagen"/>
          <div id="contenido">
            <h3>TITULO</h3>
            <h4>Fecha y Hora</h4>
            <h4>Lugar</h4>
            <h4>Precio</h4>
          </div>
        </div>


      <div class="actividad">
          <img src="../assets/img/imagen.jpg" alt="imagen"/>
          <div id="contenido">
            <h3>TITULO</h3>
            <h4>Fecha y Hora</h4>
            <h4>Lugar</h4>
            <h4>Precio</h4>
          </div>
        </div>
    </div>
  </main>
</ion-content>
