<ion-header>
    <app-header></app-header>
</ion-header>
<ion-content>
  <main>
    <div id="busqueda">
      <input type="text" name="barra de busqueda" placeholder="Introduce una actividad..." id="">
      <a href="/search"><img src="../assets/icon/lupa.png" alt="lupa"></a>
    </div>
    <h2>ACTIVIDADES RECOMENDADAS</h2>
    <div id="lista" ion-item *ngFor="let actividad of actividades; let indice=index">
      
      <div class="actividad">
        <h3><a [routerLink]="['/actividad', indice]">{{actividad.nombre}}</a></h3>
        <div id="contenido">
            <a [routerLink]="['/actividad', indice]" ><img src={{actividad.imagen}} alt="imagen"/></a>
          <div id="datos">
            <h4>{{actividad.lugar}}</h4>
            <h4>{{actividad.fecha}}</h4>
            <div id="categorias" >
              <div class="categorias" *ngFor="let categoria of categorias[indice]">  
                  <img src={{categoria.imagen}} alt="imagen"/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>


</ion-content>



