 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;

.my-custom-menu {
  --width: 500px;
}

 /* Clases */

 a {
     color: inherit;
     text-decoration: none;
 }

main{
  background-color: $bgcolor;
  padding: 7.5% 2.5%;
  color: $textcolor;
  font-size: $fontsize;
 // font-family: $fontFamily;
}

#busqueda{
  background-color: $textcolor;
  padding: 2.5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
}

#busqueda > input{
  width: 85%;
  font-size: 0.5em;
}

#busqueda > a{
  background: transparent;
  width: 15%;
  padding-left: 5%;
}

#lista{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


h2{
  padding-top: 5%;
  color: $textcolor;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#lista > .actividad{
  width: 100%;
  

  border-radius: 20px;
  border-width: 0.1em;
  border-color:  $textcolor ;
  border-style: inset;
  margin-bottom: 5%;
  padding-top: 2%;
}

#lista >.actividad > #contenido{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: row;
  justify-content: center;
}

#lista > .actividad >#contenido > #datos{
  width: 50%;
  align-items: center;
  flex-wrap: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-left: 2%;
  
}

#lista > .actividad > #contenido > a{
  width: 50%;
}

#lista > .actividad > h3{
  font-size: 16px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

#lista > .actividad > #contenido > #datos{
  width: 55%;
  padding-left: 5%;
  text-align: center;
}

#lista > .actividad > #contenido > #datos > h4{
  font-size: 16px;
  margin: 2.5%;
}

#lista > .actividad > #contenido > #datos > #categorias{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lista > .actividad > #contenido > #datos > #categorias > .categorias{
  width: 30%;
}