

<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>
  <main>
    <div id="busqueda">
      <input type="text" name="barra de busqueda" placeholder="Introduce una actividad..." id="">
      <a href="/search"><img src="../assets/icon/lupa.png" alt="lupa"></a>
    </div>

    <div id="lista">
      <h2>ACTIVIDADES RECOMENDADAS</h2>

      <div class="actividad">
        <img src="../assets/img/imagen.jpg" alt="imagen"/>
        <div id="contenido">
         <h3><a href="/actividad">TITULO</a></h3>
          <h4>Fecha y Hora</h4>
          <h4>Lugar</h4>
          <h4>Precio</h4>
        </div>
      </div>

      <div class="actividad">
          <img src="../assets/img/imagen.jpg" alt="imagen"/>
          <div id="contenido">
           <h3><a href="/actividad">TITULO</a></h3>
            <h4>Fecha y Hora</h4>
            <h4>Lugar</h4>
            <h4>Precio</h4>
          </div>
        </div>


      <div class="actividad">
          <img src="../assets/img/imagen.jpg" alt="imagen"/>
          <div id="contenido">
           <h3><a href="/actividad">TITULO</a></h3>
            <h4>Fecha y Hora</h4>
            <h4>Lugar</h4>
            <h4>Precio</h4>
          </div>
        </div>
    </div>
  </main>


</ion-content>



