<app-header></app-header>

<ion-content>

  <div class="navegation"> Admistrar socios >> Nombre socio </div>

  <div class="container">
    <h2>Perfil de Socio</h2><br>
    
    <section class="information">
      <input class="username-socio" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required><br><br>
      <input class="localidad-socio" type="text" placeholder="Localidad" name="localidad" required><br><br>
    </section>

    <section class="information">
        <input class="pass-socio" type="password" placeholder="Contraseña" name="pswUsuario" required><br><br>
        <input class="provincia-socio" type="text" placeholder="Provincia" name="provincia" required><br><br>
    </section>

    <section class="information">
        <div class="information-block">
          <section class="subsection">
              <input class="name-socio" type="text" placeholder="Nombre" name="name" required><br><br>
              <input class="surname-socio" type="text" placeholder="Apellido" name="surname" required><br><br>
          </section>

          <input class="mail-socio" type="text" placeholder="Correo electrónico" name="mail" required><br><br>

          <section class="subsection">
            <input class="date-socio" type="text" placeholder="Fecha de nacimiento" name="fechaNacimiento" required><br><br>
            <input class="phone-socio" type="text" placeholder="Teléfono" name="phone" required><br><br>
          </section>
        </div>

        <input class="descripcion-socio" type="text" placeholder="Descripción" name="descripcion" required><br><br>
    </section>


    <div class="button-container">
      <button type="submit" class="button-modificar">MODIFICAR</button>
      <button type="submit" class="button-eliminar">ELIMINAR</button>
      <button type="submit" class="button-familiar">FAMILIAR</button>
    </div>

  </div>
</ion-content>
