<app-header></app-header>

<ion-content>

  <div class="navegation"> Admistrar voluntarios >> Nombre Voluntario </div><br>
 
  <div class="container">
    <section class="information">
      <input class="username-voluntario" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required><br><br>
      <input class="localidad-voluntario" type="text" placeholder="Localidad" name="localidad" required><br><br>
    </section>

    <section class="information">
        <input class="pass-voluntario" type="password" placeholder="Contraseña" name="pswUsuario" required><br><br>
        <input class="provincia-voluntario" type="text" placeholder="Provincia" name="provincia" required><br><br>
    </section>

    <!--<section class="information">
      <section class="subsection">
        <input class="name-voluntario" type="text" placeholder="Nombre" name="name" required><br><br>
        <input class="surname-voluntario" type="text" placeholder="Apellido" name="surname" required><br><br>
      </section>

      <input class="provincia-voluntario" type="text" placeholder="Provincia" name="provincia" required><br><br>
    </section>-->

    <section class="information">
        <div class="information-block">
          <section class="subsection">
              <input class="name-voluntario" type="text" placeholder="Nombre" name="name" required><br><br>
              <input class="surname-voluntario" type="text" placeholder="Apellido" name="surname" required><br><br>
          </section>
          
          <input class="mail-voluntario" type="text" placeholder="Correo electrónico" name="mail" required><br><br>  

          <section class="subsection">
            <input class="dateb-voluntario" type="text" placeholder="Fecha de nacimiento" name="fechaNacimiento" required><br><br>
            <input class="phone-voluntario" type="text" placeholder="Teléfono" name="phone" required><br><br>
          </section>
        </div>
  
        <input class="descripcion-voluntario" type="text" placeholder="Descripción" name="descripcion" required><br><br>
    </section>

    
    <div class="button-container">
      <button type="submit" class="button-modificar">MODIFICAR</button>
      <button type="submit" class="button-eliminar">ELIMINAR</button>
      <button type="submit" class="button-familiar">FAMILIAR</button>
    </div>

    <!--<div>
        
        <button type="submit" class="button-voluntarios-right">CONSULTAR INFORMACIÓN</button>
    </div> -->

  </div>
</ion-content>
