<app-header></app-header>

<ion-content>

  <div class="container">
    <ion-item>
      <p>Perfil usuario1 </p>
    </ion-item><br><br>
    
    <form (ngSubmit)="consultarPerfil()">
      
      <span class="inputLeft"><ion-label>Nombre de usuario</ion-label></span>
      <span class="inputRight"><ion-label>Localidad</ion-label></span><br>

      <ion-input [(ngModel)]="perfil.nombre_usuario" class="inputLeft" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" id="nombre" required></ion-input>
      <ion-input [(ngModel)]="perfil.localidad" class="inputRight" type="text" placeholder="Localidad" name="localidad" id="localidad" required></ion-input><br>
        
      <span class="inputLeft"><ion-label>Contraseña</ion-label></span>
      <span class="inputRight"><ion-label>Provincia</ion-label></span><br>

      <ion-input [(ngModel)]="perfil.password" class="inputLeft" type="password" placeholder="Contraseña" name="pswUsuario" id="pswUsuario" required></ion-input>
      <ion-input [(ngModel)]="perfil.provincia" class="inputRight" type="text" placeholder="Provincia" name="provincia" id="provincia" required></ion-input><br>   

      <div class="inputLeft">
        <span class="inputLeft"><ion-label>Nombre</ion-label></span>
        <span class="inputRight"><ion-label>Apellidos</ion-label></span><br>
            
        <ion-input [(ngModel)]="perfil.nombre" class="inputLeft" type="text" placeholder="Nombre" name="nombre" id="nombre" required></ion-input>
        <ion-input [(ngModel)]="perfil.apellidos" class="inputRight" type="text" placeholder="Apellidos" name="apellidos" id="apellidos" required></ion-input><br>   
                
        <span><ion-label>Correo electrónico</ion-label></span><br>
        <ion-input [(ngModel)]="perfil.mail" type="text" placeholder="Correo electrónico" name="mail" id=" mail" required></ion-input>
          
        <span class="inputLeft"><ion-label>Fecha de nacimineto</ion-label></span>
        <span class="inputRight"><ion-label>Teléfono</ion-label></span><br>

        <ion-input [(ngModel)]="perfil.fecha_nac" class="inputLeft" type="text" placeholder="Fecha de nacimiento" name="fecha_nac" id="fecha_nac" required></ion-input>
        <ion-input [(ngModel)]="perfil.telf" class="inputRight" type="text" placeholder="Teléfono" name="telf" id="telf" required></ion-input><br>   
        
      </div>

      <span class="inputRight"><ion-label>Descripción</ion-label></span><br>
      <ion-input [(ngModel)]="perfil.descripcion" class="inputRight" type="text" placeholder="Descripción" name="desc" id="desc" required></ion-input><br>   
        
      <ion-button type="submit" size="large" color="dark"> Modificar </ion-button>
      <ion-button type="submit" size="large" color="danger"> Eliminar </ion-button>
      <ion-button type="submit" size="large" color="dark"> Familiar </ion-button>

    </form>
  </div>
</ion-content>
