$bgcolor: #FEFEFE;
$bgcolorSec: #EAEAEA;
$textcolor: #174A45;
$textcolorSec: #050505;
$fontsize: 30px;
$minfontsize : 12px;
$minButtonSize: 48 dp;
$fontFamily: Tahoma;
$headerSize : 20px;

main{
  background-color: $bgcolor;
  padding: 2.5% 2.5%;
  padding-top: 1.5%;
  color: $textcolor;
  //font-family: $fontFamily;
  height: calc(100vh - 110px); /*AJUSTAR, no esta bien definido la altura*/
}

p{
  margin: 0;
  padding-bottom: 5px;
}

h1{
  font-weight: bold;
  font-size: 20px;
}

h2 {
  text-align: center;
}

hr {
    background: black;
}

.blep {
    color: $textcolor;
    font-weight: bold;
}

#botones > ion-button{
  margin-bottom: 10px;
  margin-top: 10px;
}

.categoria{
  display: flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.categoria >ion-col > img{
  width: 80px;
}

.categoria >ion-col  > p{
  text-align: center;
  width: 90px;
}
