<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
<main>
    <h1 class="ion-text-center">Titulo</h1>

    <hr>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../assets/img/imagen.jpg" alt="imagen actividad">
            </ion-col>
            <ion-col>
                <span class="blep">Fecha:</span> lorem
                <span class="blep">Lugar:</span> lorem
                <span class="blep">Organizador:</span> lorem
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="ion-text-center">
        <ion-button expand="block" color="dark" class="button-danger" href="/valoracion">Cancelar/Apuntarse/Valorar</ion-button>

        <hr>

        <ion-button expand="block" color="dark" class="button-small" href="/chat">Chat de actividad</ion-button>
        <ion-button expand="block" color="dark" class="button-small" href="/masinfo">Más información de la actividad</ion-button>
        <ion-button expand="block" color="dark" class="button-small">Ver participantes</ion-button>

    </div>
</main>
</ion-content>
