<ion-header>
    <app-header></app-header>
</ion-header>
<ion-content>
  <main>
    <h2>NOTIFICACIONES</h2>
    <div id="notificaciones">

      <div class="notificacion">
        <h3>Tipo de notificacion</h3>
        <div class="info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ion-button color="dark" href="/actividad">Ver Actividad</ion-button>
        </div>
      </div>

      <div class="notificacion">
          <h3>Tipo de notificacion</h3>
          <div class="info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ion-button color="dark" href="/actividad">Ver Actividad</ion-button>
          </div>
      </div>

    </div>
  </main>
</ion-content>