<ion-content>



  <div class="inicioSesion">
    <div class="titulo">
      <h1>OcioVALE</h1>
      <img src="../assets/icon/logo.png"/>
    </div>

    <form (ngSubmit)="login()">
      <h3>Usuario:</h3>
      <input [(ngModel)]="sesion.username" type="text" name="usuario" required>
      <h3>Contraseña:</h3>
      <input [(ngModel)]="sesion.password" type="password" name="contrasenia" required>
      <ion-button type="submit" class="botonInicio" fill="clear">Iniciar Sesion</ion-button>
    </form>

    <div class="participar">
      <p>Escribe tu correo electronico y te contactaremos:</p>
      <form>
        <input type="text" name="" id="" placeholder="Direccion Correo Electronico"> <ion-button color="dark">Enviar</ion-button>
      </form>
    </div>


  </div>





</ion-content>
