<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
<main>
    <div class="ion-text-center">
        <h1>{{actividad.nombre}}</h1>
    </div>

    <hr class="ion-margin-horizontal">

    <div class="ion-text-center">
        <p><span class="blep">Fecha:</span> {{actividad.fecha}}</p>
        <p><span class="blep">Lugar:</span> {{actividad.lugar}}</p>
        <p><span class="blep">Duracion:</span> {{actividad.duracion}}</p>

        <div class="blep">Descripción:</div>
        <p>{{actividad.descripcion}}</p>
    </div>
</main>
</ion-content>

<footer>
    <div class="ion-text-center">
        <ion-button expand="block" color="danger" [routerLink]="['/actividad', id]" size="large">Volver</ion-button>
    </div>
</footer>