<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>
  <main>
    <h2>MI PERFIL</h2>
    <h4>{{usuario.nombre}} {{usuario.apellidos}}</h4>
    <hr>
    <div id="gustos">
      <ion-button (click)='desplegar("mas_gustos")' color="dark" expand="block">Gustos</ion-button>
      <div id="mas_gustos" class="mas_gustos">
          <div class="gustos">
            <div class="opcion" *ngFor="let categoria of categorias; let indice=index">
                <ion-button color="{{categoria.select}}" (click)="change(indice)"><img src={{categoria.imagen}}></ion-button>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <ion-button (click)='desplegar("privado")' color="dark" expand="block">Información Privada</ion-button>
    <div id="privado" class="privado">
      <div id="info">
        <p>Usuario <input type="text" name="" value="{{usuario.username}}" id=""></p>
        <p>Contraseña <input type="password" name="" value="{{usuario.password}}" id=""></p>
        <p>Email <input type="email" name="" value="{{usuario.email}}" id=""></p>
        <p>Teléfono <input type="tel" pattern="[0-9]{9}" name="" value="{{usuario.telefono}}" id=""></p>
        <p>Localidad <input type="text" name="" value="{{usuario.localidad}}" id=""></p>
        <p>Provincia <input type="text" name="" value="{{usuario.provincia}}" id=""></p>
        <p>Descripción <textarea name="" form="descripcion" id="">{{usuario.descripcion}}</textarea></p>
      </div>
      <ion-button color="danger">Guardar</ion-button>
    </div>
  </main>
</ion-content>
