 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;

 main{
    background-color: $bgcolor;
    padding: 7.5% 2.5%;
    color: $textcolor;
    font-size: $fontsize;
    font-family: $fontFamily;
    text-align: center;
  }

  h2 {
    width: 100%;
    font-family: $fontFamily;
    color: $textcolor;
    font-size: 18px;
    font-weight: bold;
  }

  h3{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  h4{
    font-size: 18px;
    margin: 7px;

  }

  ul{
    font-size: 14px;
    margin: 5px;
    padding: 0;
  }

  p{
    font-size: 14px;
    margin: 5px;
    padding: 0;
  }

  #datos{
    align-items: center;
    padding: 3%;

    border-top-width: 3px;
    border-top-color:  $textcolor ;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:  $textcolor ;
    border-bottom-style: solid;
  }

  #gustos{
    align-items: center;
    padding: 3%;

    border-bottom-width: 3px;
    border-bottom-color:  $textcolor ;
    border-bottom-style: solid;
  }

  ion-button{
    padding-top: 10px;
  }

  .privado{
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
  
  }

  .mas_gustos{
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
  
  }
  
  .filtro{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

.filtro > .opcion{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2.5%;
}

.filtro > .opcion > input[type=checkbox]{
    transform: scale(1.6);
    margin-bottom: 8px;
    border: none;
}