 /* Variables estandar para la página*/
 $bgcolor: #FEFEFE;
 $bgcolorSec: #EAEAEA;
 $textcolor: #174A45;
 $textcolorSec: #050505;
 $fontsize: 30px;
 $minfontsize : 12px;
 $minButtonSize: 48 dp;
 $fontFamily: Tahoma;
 $headerSize : 20px;

 main{
    background-color: $bgcolor;
    padding: 4% 2.5%;
    color: $textcolor;
    font-size: $fontsize;
    text-align: center;
}

h2 {
  width: 100%;
  color: $textcolor;
  font-size: 18px;
  font-weight: bold;
}

h3{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

h4{
  font-size: 18px;
}

ul{
  font-size: 14px;
  margin: 5px;
  padding: 0;
}

p{
  font-size: 14px;
  margin: 5px;
  padding: 0;
}

ion-button{
  padding-bottom: 7.5px;
}

#gustos{
  align-items: center;
}

.privado{
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
}

#info{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding-left: 5%;
}


.mas_gustos{
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;

}

.gustos {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}
  
.gustos > .opcion{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 2.5%;
}

.gustos > .opcion > ion-button{
  width: 85px;
  height: 65px;
}

.gustos > .opcion > ion-button > img{
  width: 140%;
  height: 80%;
}