<app-header></app-header>

<ion-content>

  <ion-item>
    <div class=cabecera><br>Administrar usuarios</div>
  </ion-item>
 
  <div class="container">
  <form>
    <h2>Perfil de un {{rol}}</h2><br>
    
    <span class="inputLeft"><ion-label>Nombre</ion-label></span>
    <ion-label class="inputRight">Correo Electronico</ion-label>

    <ion-input [(ngModel)]="usuario.nombre" class="inputLeft" type="text" placeholder="Nombre" id="nombre" name="nombre" required></ion-input>
    <ion-input [(ngModel)]="usuario.email" class="inputRight" type="email" placeholder="Correo Electronico" name="email" required></ion-input><br>

    <span class="inputLeft"><ion-label>Apellidos</ion-label></span><br>
    <ion-label class="inputRight">Fecha Nacimiento</ion-label>

    <ion-input [(ngModel)]="usuario.apellidos" class="inputLeft" type="text" placeholder="Apellidos" id="apellidos" name="apellidos" required></ion-input><br>
    <ion-input [(ngModel)]="usuario.fecha_nacimiento" class="inputRight"  type="text" placeholder="Fecha Nacimiento" name="fec_nac" required></ion-input><br>


    <ion-label class="inputLeft">Nombre de usuario</ion-label>
    <ion-label class="inputRight">Telefono</ion-label>

    <ion-input [(ngModel)]="usuario.username" class="inputLeft" type="text" placeholder="Nombre de usuario" id="nombreUsuario" name="nombreUsuario" required></ion-input><br>    
    <ion-input [(ngModel)]="usuario.telefono" class="inputRight" type="tel" placeholder="Telefono" name="tel" required></ion-input><br>


    <ion-label class="inputLeft">Contraseña</ion-label>
    <ion-label class="inputRight">DNI</ion-label>

    <ion-input [(ngModel)]="usuario.password" class="inputLeft" type="password" placeholder="Contraseña" name="psw" required></ion-input><br>
    <ion-input [(ngModel)]="usuario.dni" class="inputRight" type="text" placeholder="DNI" name="DNI" required></ion-input><br>
    
    <ion-label class="inputLeft">Provincia</ion-label>
    <ion-label class="inputRight">Localidad</ion-label>

    <ion-input [(ngModel)]="usuario.provincia" class="inputLeft" type="text" placeholder="Provincia" name="provincia" required></ion-input><br>
    <ion-input [(ngModel)]="usuario.localidad" class="inputRight" type="text" placeholder="Localidad" name="localidad" required></ion-input><br>      
    
    <ion-label class="inputCenter" >Domicilio</ion-label>
    <ion-input [(ngModel)]="usuario.domicilio" class="inputCenter" type="text" placeholder="Domicilio" name="domicilio" required></ion-input><br>

    <ion-label class="inputCenter" >Descripcion</ion-label>
    <ion-textarea [(ngModel)]="usuario.descripcion" class = "inputCenter" type="text" placeholder="Descripcion" name="descripcion" required></ion-textarea><br>

    <div *ngIf="mostrarSocio">
      <ion-label class="inputCenter" >Descripcion privada (oculta a la aplicacion)</ion-label>
      <ion-textarea [(ngModel)]="descripcionPrivada" class="inputCenter" type="text" placeholder="Descripcion privada del usuario" name="descripcionPrivada"></ion-textarea><br>
    </div>

    <div *ngIf="mostrarBoton" class="datos-familiar">

      <div id="lista" ion-item *ngFor="let familiar of familiares; let indice=index">

          <div class = "info-usuario">
              <a class="imagen-actividades"><img src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png"
                 alt="imagen usuario"/></a>

              <div class="datos-familiar">
                <h5>{{familiar.nombre}}</h5>
                <h5>{{familiar.apellidos}}</h5>
                <h5>@{{familiar.username}}</h5>
              </div>

              <div class="datos-familiar">
                  <h5> Valoración media: </h5>
              </div>

              <div class="datos-familiar">
                  <ion-button href='/perfil-usuario/{{familiar.id}}' size="large" color="dark"> Administrar </ion-button>
              </div>
          </div>

      </div>

    </div>

    <div id="loginPopUp" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <div id="messageBox"></div>
    </div>

    <!--<div id="loginPopUp" *ngIf="mostrarValoracion" class="datos-familiar">
      
      <div id="lista" ion-item *ngFor="let valoracion of valoraciones; let indice=index">

          <div id="messageBox" class = "info-usuario">
              <a class="imagen-actividades"><img src="{{valoracion.imagen}}" alt="{{valoracion.imagen}}"/></a>

              <div class="datos-familiar">
                <h5>{{valoracion.nombre}}</h5>
                <h5>{{valoracion.puntuacion}}</h5>
              </div>

              <div class="datos-familiar">
                  <ion-button href='/actividad/{{valoracion.idActividad}}' size="large" color="dark"> Administrar </ion-button>
              </div>
          </div>

      </div>

    </div>-->

    <div *ngIf="mostrarValoracion" class="datos-familiar">
      <div id="lista" ion-item *ngFor="let valoracion of valoraciones; let indice=index">
        <div id="messageBox" class = "info-usuario">
          <a class="imagen-actividades"><img src="{{valoracion.imagen}}" alt="{{valoracion.imagen}}"/></a>

        <div class="datos-familiar">
          <h5>{{valoracion.nombre}}</h5>
          <h5>Puntuacion: {{valoracion.puntuacion}}</h5>
        </div>

        <div class="datos-familiar">
            <ion-button href='/actividad/{{valoracion.idActividad}}' size="large" color="dark"> Administrar </ion-button>
        </div>

        </div>
      </div>
      <div *ngIf="valoraciones.length==0" class="datos-familiar">
        <div id="messageBox" class = "info-usuario"> No hay valoraciones para este usuario </div>
      </div>
    </div>
    
    <div class="botonesUsuario">
       
      <ion-button  (click)="modificarUsuario()" size="large" color="dark" type="submit">MODIFICAR</ion-button>
      <ion-button (click)="eliminarUsuario()" size="large" color="danger" type="submit">ELIMINAR</ion-button>

      <ion-button *ngIf="mostrarVoluntario && !censurado" (click)="censurar()" size="large" color="danger" type="submit">CENSURAR</ion-button>
      <ion-button *ngIf="mostrarVoluntario && censurado" (click)="aprobar()" size="large" color="danger" type="submit">APROBAR</ion-button>
      <ion-button *ngIf="mostrarVoluntario " (ngSubmit)="consultarValoracion()" (click)="consultarValoracion()"  type="submit" size="large" color="dark" >CONSULTAR VALORACIONES</ion-button>
      

      <ion-button *ngIf="mostrarBotonFamiliar" (click)="consultarFamiliar()" class="union" size="large" color="dark"> Familiar </ion-button>

    </div>

    
  </form>

  </div>
</ion-content>