  /* Variables estandar para la página*/
  $bgcolor: #FEFEFE;
  $bgcolorSec: #eaeaea;
  $colorSec: #174A45;
  $textcolor: #174A45;
  $textcolorSec: #050505;
  $fontsize: 20px;
  $minfontsize : 19px;
  $minButtonSize: 48 dp;
  $fontFamily: Tahoma;
  $headerSize : 100px;
  $tamHeader: 50px;

  /* Clases */
  .container{
  background-color: $bgcolor;
  padding: 5%;
  font-family: $fontFamily;
  }

  h2{
    font-family: $fontFamily;
    color: $textcolor;
    font-size: $fontsize;
  }

  ion-input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid $colorSec;
    background: $bgcolorSec;
    opacity: 1;

    &:focus{
      opacity: 0.8;
    }
  }

  ion-textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid $colorSec;
    background: $bgcolorSec;
    opacity: 1;

    &:focus{
      opacity: 0.8;
    }
  }

  .inputNombre{
  width: 40%;
  margin-left: 5%;
  }

  .inputApellido{
    float: right;
    margin-right: 5%;
    width: 40%;
    }
  
    .inputLeft{
      margin-top: 1%;
      margin-left: 5%;
    float: left;
    width: 40%;
    }
  
    .inputRight{
      margin-top: 1%;
    margin-right: 5%;
    float: right;
    width: 40%;
    }

    .inputCenter{
      float: left;
      margin-left: 10%;
      margin-top: 1%;
      width: 70%;
    }

    .botonesUsuario {
      float:left;
      margin-top: 3%;
      margin-left: 10%;
    }

    .botonesUsuario ion-button{
      margin-right: 2%;
    }
  
    p{
    font-family: $fontFamily;
    color: $textcolorSec;
    font-size: $minfontsize;
    }
  
    .select{
      color: $textcolorSec;
      font-family: $fontFamily;
      margin: 3px;
      margin-left: 10px;
      border: 2px solid $colorSec;
      border-radius: 3px;
    }
  
    ion-button{
      --background: tranparent;
      --padding-start: 10px;
      --padding-end: 10px;
    }

    .flex-columna{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
    }

    .info-usuario{
      display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-content: center;
       justify-content: space-around;
       width: 9
       0%;
       background-color: $bgcolorSec;
       height: 10%;
       border: 2px solid $textcolorSec;
       margin-top: 3%;
    }
    
    .imagen-actividades{
      background: transparent;
      width: 20%;
      height: 20%;
      margin: 2% 0 2% 0;
      border: 5px solid white;
    }
  