$bgcolor: #FEFEFE;
$bgcolor: #FEFEFE;
$bgcolorSec: #EAEAEA;
$textcolor: #174A45;
$textcolorSec: #050505;
$fontsize: 30px;
$minfontsize : 12px;
$minButtonSize: 48 dp;
$fontFamily: Tahoma;
$headerSize : 20px;


main{
  background-color: $bgcolor;
  padding: 1.5% 2%;
  color: $textcolor;
  font-size: 14px;
 // font-family: $fontFamily;
  height: calc(100vh - 110px); /*AJUSTAR, no esta bien definido la altura*/
}

h2 {
  width: 100%;
  color: $textcolor;
  font-size: 18px;
  font-weight: bold;
}

h3{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.campo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ion-label{
  padding-right: 5%;
  width: 32%;
  font-size: 15px;
}

.container {
    padding: 16px 5% 16px 5%;
}

ion-input, ion-select, ion-textarea{
   margin: 5px 0 18px 0;
   margin-right: 5px;
   box-sizing: border-box;
   border: 2px solid $textcolor;
   background: $bgcolor;
   opacity: 1;

   &:focus{
     opacity: 0.8;
   }
}