<app-header></app-header>

<ion-content>

  <div class="container">
    <ion-item>
      <p>Perfil familiar1 </p>
    </ion-item><br><br>

    <form (ngSubmit)="consultarPerfil()">

      <span class="inputLeft"><ion-label>Nombre de usuario</ion-label></span>
      <span class="inputRight"><ion-label>DNI</ion-label></span><br>

      <ion-input [(ngModel)]="perfil.nombre_usuario" class="inputLeft" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" id="nombre" required></ion-input>
      <ion-input [(ngModel)]="perfil.dni" class="inputRight" type="text" placeholder="DNI" name="dni" id="dni" required></ion-input><br>
        
      <span class="inputLeft"><ion-label>Contraseña</ion-label></span>
      <span class="inputRight"><ion-label>Localidad</ion-label></span><br>

      <ion-input [(ngModel)]="perfil.password" class="inputLeft" type="password" placeholder="Contraseña" name="pswUsuario" id="pswUsuario" required></ion-input>
      <ion-input [(ngModel)]="perfil.localidad" class="inputRight" type="text" placeholder="Localidad" name="localidad" id="localidad" required></ion-input><br>   

      <div class="inputLeft">
          <span class="inputLeft"><ion-label>Nombre</ion-label></span>
          <span class="inputRight"><ion-label>Apellidos</ion-label></span><br>
              
          <ion-input [(ngModel)]="perfil.nombre" class="inputLeft" type="text" placeholder="Nombre" name="nombre" id="nombre" required></ion-input>
          <ion-input [(ngModel)]="perfil.apellidos" class="inputRight" type="text" placeholder="Apellidos" name="apellidos" id="apellidos" required></ion-input><br>   
                  
          <span><ion-label>Correo electrónico</ion-label></span><br>
          <ion-input [(ngModel)]="perfil.mail" type="text" placeholder="Correo electrónico" name="mail" id=" mail" required></ion-input>
            
          <span class="inputLeft"><ion-label>Fecha de nacimineto</ion-label></span>
          <span class="inputRight"><ion-label>Teléfono</ion-label></span><br>
  
          <ion-input [(ngModel)]="perfil.fecha_nac" class="inputLeft" type="text" placeholder="Fecha de nacimiento" name="fecha_nac" id="fecha_nac" required></ion-input>
          <ion-input [(ngModel)]="perfil.telf" class="inputRight" type="text" placeholder="Teléfono" name="telf" id="telf" required></ion-input><br>   
          
      </div>

      <div class="inputRight">       
        <span><ion-label>Provincia</ion-label></span><br>
        <ion-input [(ngModel)]="perfil.provincia" type="text" placeholder="Provincia" name="provincia" id=" provincia" required></ion-input>
          
        <span><ion-label>Nombre de familiar</ion-label></span><br>
        <ion-input [(ngModel)]="perfil.nombre_familiar" type="text" placeholder="Nombre de familiar" name="nfamiliar" id=" nfamiliar" required></ion-input>
          
        <span><ion-label>Apellidos de familiar</ion-label></span><br>
        <ion-input [(ngModel)]="perfil.apellidos_familiar" type="text" placeholder="Apellidos de familiar" name="afamiliar" id=" afamiliar" required></ion-input>
        
      </div>

    <!--<section class="information">
      <input class="username-familiar" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required><br><br>
      <input class="dni-familiar" type="text" placeholder="DNI" name="dni" required><br><br>
    </section>

    <section class="information">
        <input class="pass-familiar" type="password" placeholder="Contraseña" name="pswUsuario" required><br><br>
        <input class="localidad-familiar" type="text" placeholder="Localidad" name="localidad" required><br><br>
    </section>

    <section class="information">

      <section class="subsection">
          <input class="name-familiar" type="text" placeholder="Nombre" name="name" required><br><br>
          <input class="surname-familiar" type="text" placeholder="Apellido" name="surname" required><br><br>
      </section>

      <input class="provincia-familiar" type="text" placeholder="Provincia" name="provincia" required><br><br>
    </section>

    <section class="information">
        <input class="mail-familiar" type="text" placeholder="Correo electrónico" name="mail" required><br><br>
        <input class="nombre-familiar" type="text" placeholder="Nombre de familiar" name="nombrefamiliar" required><br><br>
    </section>

    <section class="information">
        <section class="subsection">
            <input class="date-familiar" type="text" placeholder="Fecha de nacimiento" name="fechaNacimiento" required><br><br>
            <input class="phone-familiar" type="text" placeholder="Teléfono" name="phone" required><br><br>
        </section>

      <input class="apellidos-familiar" type="text" placeholder="Apellidos de familiar" name="apellidosfamiliar" required><br><br>
    </section>
-->
      <ion-button type="submit" size="large" color="dark"> Modificar </ion-button>
      <ion-button type="submit" size="large" color="danger"> Eliminar </ion-button>
      <ion-button href="/perfilSocio" class="union" size="large" color="dark"> Familiar </ion-button> 
    </form>
  </div>
</ion-content>
