<app-header></app-header>

<ion-content>

  <div class="navegation"> Admistrar familiares >> Nombre familiar </div>

  <div class="container">
    <h2>Perfil de Familiar</h2><br>

    <section class="information">
      <input class="username-familiar" type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required><br><br>
      <input class="dni-familiar" type="text" placeholder="DNI" name="dni" required><br><br>
    </section>

    <section class="information">
        <input class="pass-familiar" type="password" placeholder="Contraseña" name="pswUsuario" required><br><br>
        <input class="localidad-familiar" type="text" placeholder="Localidad" name="localidad" required><br><br>
    </section>

    <section class="information">

      <section class="subsection">
          <input class="name-familiar" type="text" placeholder="Nombre" name="name" required><br><br>
          <input class="surname-familiar" type="text" placeholder="Apellido" name="surname" required><br><br>
      </section>

      <input class="provincia-familiar" type="text" placeholder="Provincia" name="provincia" required><br><br>
    </section>

    <section class="information">
        <input class="mail-familiar" type="text" placeholder="Correo electrónico" name="mail" required><br><br>
        <input class="nombre-familiar" type="text" placeholder="Nombre de familiar" name="nombrefamiliar" required><br><br>
    </section>

    <section class="information">
        <section class="subsection">
            <input class="date-familiar" type="text" placeholder="Fecha de nacimiento" name="fechaNacimiento" required><br><br>
            <input class="phone-familiar" type="text" placeholder="Teléfono" name="phone" required><br><br>
        </section>

      <input class="apellidos-familiar" type="text" placeholder="Apellidos de familiar" name="apellidosfamiliar" required><br><br>
    </section>

    <div class="button-container">
      <button type="submit" class="button-modificar">MODIFICAR</button>
      <button type="submit" class="button-eliminar">ELIMINAR</button>
      <button type="submit" class="button-familiar">FAMILIAR</button>
    </div>

  </div>
</ion-content>
